.featured-item{
    background: url('../../../assets/home/featured.jpg')center/cover no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 5;
}
.featured-item::after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -3;
}